<html>
    <head>
        <title>To Do app</title>
    </head>
    <body>
        <div id="heading">TODO App</div>
        <div>
            <h1>Description</h1>
            <p>What do you need to do?</p>
        </div>
        <div>
            <form>
                <label>CATEGORY</label>
                <select placeholder="Choose a category">
                    <option></option>
                </select>
                <label>DUE DATE</label>
                <input type="date">
                <a href="">ADD A TASK</a>
                <a href="">DELETE TASK</a>
                <input type="checkbox" placeholder="Why not add a task">
                <input type="checkbox" placeholder="Lets make a TODO App">
                <a href="">SCHOOL</a>
                <input type="checkbox" placeholder="Annual report submission deadline">
                <a href="">WORK</a>
            </form>
        </div>
    </body>
</html>